*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.idea/vcs.xml
.idea/misc.xml
/.idea/modules.xml
gen/
.idea/
.idea/codeStyleSettings.xml
.idea/dictionaries
/app/*.apk

